<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ConversionModule -->
      <package
            uri="http://ru.capralow.dt.conversion.plugin.core.cm.model"
            class="ru.capralow.dt.conversion.plugin.core.cm.model.cmPackage"
            genModel="model/ConversionModule.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ExchangeProjects -->
      <package
            uri="http://ru.capralow.dt.conversion.plugin.core.ep.model"
            class="ru.capralow.dt.conversion.plugin.core.ep.model.epPackage"
            genModel="model/ExchangeProjects.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RegistrationModule -->
      <package
            uri="http://ru.capralow.dt.conversion.plugin.core.rm.model"
            class="ru.capralow.dt.conversion.plugin.core.rm.model.rmPackage"
            genModel="model/RegistrationModule.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ReportGroups -->
      <package
            uri="http://ru.capralow.dt.conversion.plugin.core.rg.model"
            class="ru.capralow.dt.conversion.plugin.core.rg.model.rgPackage"
            genModel="model/ReportGroups.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EnterpriseDataXdto -->
      <package
            uri="http://ru.capralow.dt.conversion.plugin.core.ed.model"
            class="ru.capralow.dt.conversion.plugin.core.ed.model.edPackage"
            genModel="model/EnterpriseDataXdto.xcore"/>
   </extension>

</plugin>
