<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ConversionModule -->
      <package
            uri="ru.capralow.dt.conversion.plugin.core.cm"
            class="ru.capralow.dt.conversion.plugin.core.cm.CmPackage"
            genModel="model/ConversionModule.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RegistrationModule -->
      <package
            uri="ru.capralow.dt.conversion.plugin.core.rm"
            class="ru.capralow.dt.conversion.plugin.core.rm.RmPackage"
            genModel="model/RegistrationModule.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ExchangeVersions -->
      <package
            uri="ru.capralow.dt.conversion.plugin.core.ev"
            class="ru.capralow.dt.conversion.plugin.core.ev.EvPackage"
            genModel="model/ExchangeVersions.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FormatPackage -->
      <package
            uri="ru.capralow.dt.conversion.plugin.core.fp"
            class="ru.capralow.dt.conversion.plugin.core.fp.FpPackage"
            genModel="model/FormatPackage.xcore"/>
   </extension>

</plugin>
