<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="com._1c.g5.wiring.serviceProvider">
		<bundle
			symbolicName="ru.capralow.dt.conversion.plugin.ui">
		</bundle>
	</extension>
	
	<extension
		point="org.eclipse.ui.views">
		<view
			category="com._1c.g5.v8.dt.ui.v8category"
			class="ru.capralow.dt.conversion.plugin.ui.ConversionExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.views.ConversionPanelView"
			id="ru.capralow.dt.conversion.plugin.ui.views.ConversionPanelView"
			name="Конвертация данных">
		</view>
	</extension>
	
	<extension
		point="com._1c.g5.v8.dt.md.ui.granularEditorPages">
		<page
			class="ru.capralow.dt.conversion.plugin.ui.ConversionExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleEditor"
			id="ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleEditor">
		</page>
	</extension>
	
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="ru.capralow.dt.conversion.plugin.ui.ConversionExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleTester"
			id="ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleTester"
			namespace="ru.capralow.dt.conversion.plugin.ui"
			properties="isAvailable"
			type="org.eclipse.emf.ecore.EObject">
		</propertyTester>
	</extension>
	
	<extension point="com._1c.g5.v8.dt.md.ui.granularEditorContentPages">
		<editor
			editorId="com._1c.g5.v8.dt.md.ui.editor.commonModule">
			<page
				pageId="ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleEditor"
				afterPageId="editors.pages.module">
				<enablement>
					<test property="ru.capralow.dt.conversion.plugin.ui.isAvailable"/>
				</enablement>
			</page>
		</editor>
	</extension>

</plugin>
