<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="com._1c.g5.wiring.serviceProvider">
		<bundle
			symbolicName="ru.capralow.dt.conversion.plugin.ui">
		</bundle>
	</extension>
	
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="ru.capralow.dt.conversion.plugin.ui.ExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.conversionmodule.ConversionModuleTester"
			id="ru.capralow.dt.conversion.plugin.ui.conversionmodule.ConversionModuleTester"
			namespace="ru.capralow.dt.conversion.plugin.ui"
			properties="isAvailable"
			type="org.eclipse.emf.ecore.EObject">
		</propertyTester>
	</extension>
	
	<extension
		point="org.eclipse.ui.views">
		<view
			category="com._1c.g5.v8.dt.ui.v8category"
			class="ru.capralow.dt.conversion.plugin.ui.ExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.conversionpanel.ConversionPanelView"
			id="ru.capralow.dt.conversion.plugin.ui.conversionpanel.ConversionPanelView"
			name="Конвертация данных">
		</view>
	</extension>
	
	<extension
		point="com._1c.g5.v8.dt.md.ui.granularEditorPages">
		<page
			class="ru.capralow.dt.conversion.plugin.ui.ExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.conversionmodule.ConversionModuleEditor"
			id="ru.capralow.dt.conversion.plugin.ui.conversionmodule.ConversionModuleEditor">
		</page>
	</extension>
	
	<extension point="com._1c.g5.v8.dt.md.ui.granularEditorContentPages">
		<editor
			editorId="com._1c.g5.v8.dt.md.ui.editor.commonModule">
			<page
				pageId="ru.capralow.dt.conversion.plugin.ui.conversionmodule.ConversionModuleEditor"
				afterPageId="editors.pages.module">
				<enablement>
					<test property="ru.capralow.dt.conversion.plugin.ui.isAvailable"/>
				</enablement>
			</page>
		</editor>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:ru.capralow.dt.conversion.plugin.ui.conversionmodule.ConversionModuleEditor.id"> 
			<command
				commandId="com._1c.g5.v8.dt.bsl.qw.BslQueryWizardHandler"
				label="Конструктор запроса"
				style="push">
			</command>
		</menuContribution>
		
		<menuContribution locationURI="popup:ru.capralow.dt.conversion.plugin.ui.conversionmodule.ConversionModuleEditor.id"> 
			<command
				commandId="com._1c.g5.v8.dt.bsl.qw.BslQueryEditorHandler"
				label="Редактор запроса"
				style="push">
			</command>
		</menuContribution>
	</extension>
	
	<extension point="com._1c.g5.v8.dt.diagram.framework.core.objectsconverters">
		<objectConverter
			class="ru.capralow.dt.conversion.plugin.ui.XDTOPackageConverter"
			className="XDTOPackage">
		</objectConverter>
	</extension>

	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="ru.capralow.dt.conversion.plugin.ui.ExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.conversionmodule.ConversionModuleXtextBuilderParticipant"
			fileExtensions="bsl">
		</participant>
	</extension>

	<extension point="com._1c.g5.v8.dt.bsl.externalBslValidator">
		<externalValidator
			class="ru.capralow.dt.conversion.plugin.ui.ExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.conversionmodule.ConversionValidator">
		</externalValidator>
	</extension>

</plugin>
