<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="com._1c.g5.wiring.serviceProvider">
		<bundle
			symbolicName="ru.capralow.dt.conversion.plugin.ui">
		</bundle>
	</extension>
	
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="ru.capralow.dt.conversion.plugin.ui.ConversionExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleTester"
			id="ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleTester"
			namespace="ru.capralow.dt.conversion.plugin.ui"
			properties="isAvailable"
			type="org.eclipse.emf.ecore.EObject">
		</propertyTester>
	</extension>
	
	<extension
		point="org.eclipse.ui.views">
		<view
			category="com._1c.g5.v8.dt.ui.v8category"
			class="ru.capralow.dt.conversion.plugin.ui.ConversionExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.views.ConversionPanelView"
			id="ru.capralow.dt.conversion.plugin.ui.views.ConversionPanelView"
			name="Конвертация данных">
		</view>
	</extension>
	
	<extension
		point="com._1c.g5.v8.dt.md.ui.granularEditorPages">
		<page
			class="ru.capralow.dt.conversion.plugin.ui.ConversionExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleEditor"
			id="ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleEditor">
		</page>
	</extension>
	
	<extension point="com._1c.g5.v8.dt.md.ui.granularEditorContentPages">
		<editor
			editorId="com._1c.g5.v8.dt.md.ui.editor.commonModule">
			<page
				pageId="ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleEditor"
				afterPageId="editors.pages.module">
				<enablement>
					<test property="ru.capralow.dt.conversion.plugin.ui.isAvailable"/>
				</enablement>
			</page>
		</editor>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:ru.capralow.dt.conversion.plugin.ui.editors.ConversionModuleEditor.id"> 
			<command
				commandId="com._1c.g5.v8.dt.bsl.qw.BslQueryWizardHandler"
				label="Конструктор запроса"
				style="push">
			</command>
		</menuContribution>
		
		<menuContribution
			locationURI="popup:com._1c.g5.v8.dt.navigator.ui.navigator.popup">
			<command commandId="ru.capralow.dt.conversion.plugin.ui.command.DataFormatToEMFGenerator"
				style="push"
				tooltip="Сгенерировать ECore по пакету XDTO">
			</command>
		</menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
		<command
			defaultHandler="ru.capralow.dt.conversion.plugin.ui.DataFormatToEMFGeneratorHandler"
			id="ru.capralow.dt.conversion.plugin.ui.command.DataFormatToEMFGenerator"
			name="Сгенерировать ECore">
		</command>
	</extension>

	<extension point="com._1c.g5.v8.dt.diagram.framework.core.objectsconverters">
		<objectConverter
			class="ru.capralow.dt.conversion.plugin.ui.XDTOPackageConverter"
			className="XDTOPackage">
		</objectConverter>
	</extension>

	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="ru.capralow.dt.conversion.plugin.ui.ConversionExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.ConversionModuleXtextBuilderParticipant"
			fileExtensions="bsl">
		</participant>
	</extension>

	<extension point="com._1c.g5.v8.dt.bsl.externalBslValidator">
		<externalValidator
			class="ru.capralow.dt.conversion.plugin.ui.ConversionExecutableExtensionFactory:ru.capralow.dt.conversion.plugin.ui.ConversionModuleExternalBslValidator">
		</externalValidator>
	</extension>

</plugin>
