/CmAlgorithm.java
/CmAttributeRule.java
/CmDataRule.java
/CmFactory.java
/CmObjectRule.java
/CmPackage.java
/CmPredefined.java
/CmSelectionVariant.java
/ConversionModule.java
/CmIdentificationVariant.java
/CmMethodType.java
