/ConversionPanel.java
/CpFactory.java
/CpPackage.java
/cpConfiguration.java
/WorkspaceStatus.java
/cpExtension.java
/cpFormatVersion.java
/ConfigurationStatus.java
/ExchangePairStatus.java
/cpExchangePair.java
